body {
    background-color: #3264cf;
    font: normal 15pt arial ;

}
header{
    color: white;
    text-align: center;
}
section{
    background-color: white ;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin:auto;
    box-shadow: 5px 5px 10px #00000034;

}
div {
    text-align: center;
    padding: 8px;
}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}